#hello {
	color: red;
}
#app-content-wrapper {
    width: calc(100% - 11px);
    margin-top: 0px;
    margin-left: 11px;
    height: 100%;;
    min-width: calc(100% - 11px);
}

#editor {
    height: 50%;
    width: calc(100%-6px);
}

#editor .input {
    height: 100%;
    width: calc(100%-6px);
}

#editor .save {
    height: 50px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

#editor textarea {
    height: 100%;
    width: 100%;
    border: 1;
    margin: 0;
    border-radius: 3px;
    overflow-y: auto;
}

#editor button {
    height: 44px;
}

input[type="time"]{
	width: 65px;
}

 * App navigation utils, buttons and counters for drop down menu
 */
#sub-navigation.app-navigation-entry-utils {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 105;
}

	#sub-navigation .app-navigation-entry-utils ul {
		display: block !important;
	}


	#sub-navigation .app-navigation-entry-utils li {
		float: left;
		width: 44px !important;
		height: 44px;
		line-height: 44px;
	}

	#sub-navigation .active > .app-navigation-entry-utils li {
		display: inline-block;
	}

	#sub-navigation .app-navigation-entry-utils button {
		height: 38px;
		width: 38px;
		line-height: 38px;
		float: left;
	}

	#sub-navigation .app-navigation-entry-utils-menu-button {
		display: none;
	}
	#sub-navigation .app-navigation-entry-utils-menu-button button {
		border: 0;
		opacity: .5;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../img/actions/more.svg');
	}

	#sub-navigation .app-navigation-entry-utils-menu-button:hover button,
	#sub-navigation .app-navigation-entry-utils-menu-button:focus button {
		background-color: transparent;
		opacity: 1;
	}

	#sub-navigation .app-navigation-entry-utils-counter {
		overflow: hidden;
		text-overflow: hidden;
		text-align: right;
		font-size: 9pt;
		width: 38px;
		line-height: 44px;
		padding: 0 10px;
	}

	#sub-navigation .app-navigation-entry-utils ul,
	#sub-navigation .app-navigation-entry-menu ul {
		list-style-type: none;
	}
