#hello {
	color: red;
}
#app-content-wrapper {
    width: calc(100% - 11px);
    margin-top: 11px;
    margin-left: 11px;
    height: calc(100% - 11px);;
    min-width: calc(100% - 11px);
    min-height: calc(100% - 11px);
}

#editor {
    height: 50%;
    width: calc(100%-6px);
}

#editor .input {
    height: 100%;
    width: calc(100%-6px);
}

#editor .save {
    height: 50px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

#editor textarea {
    height: 100%;
    width: 100%;
    border: 1;
    margin: 0;
    border-radius: 3px;
    overflow-y: auto;
}

#editor button {
    height: 44px;
}

input[type="time"]{
	width: 65px;
}
